<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <logger name="org.zalando.logbook.Logbook" level="TRACE"/>
    <logger name="org" level="WARN" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>


    <logger name="springfox" level="info" />
    <logger name="io" level="debug" />

</configuration>